<SCRIPT type="text/javascript">
	function open_form(kind)
		{
			document.getElementById('light').style.display='block';
			document.getElementById('fade').style.display='block';
			document.getElementById('user_kind').value=kind;
		}

</SCRIPT>

<div class="topSlider">
 <div class="topCliderLine"></div>

 <div class="topSliderIn">
   <div id="topSliderInIn">
     <ul id="slider1" class="dispNone">
       <li class="mainPromo currentSlide firstSlide">
         <img src="images/slides/candidate/slide1.png" alt="" />

         <h2>EMPOWER YOUR<br />
         CAMPAIGN</h2>

			<span>
					ElectionArena helps you directly connect with potential 	
					voters, <br />spread your word on all the major social networks, 
					activate your <br />key supporters, and measure your efforts to
					 improve	engagement
			</span> 
         
         <div class="slideDots">
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<!--span class="slideDot"></span-->
			</div>
         
	      <a href="javascript:void(0)" onclick="open_form('Candidate')"
         class="bigRedLinkBlock"><font>CANDIDATE SIGN UP</font><br />
         Get notified when we launch!</a>
       </li>

       <li class="mainPromo candidateSlide5" style="display: none;">
         <img src="images/slides/candidate/slide5.png" alt="" />

         <h2>YOUR SOCIAL<br />
         MEDIA HUB</h2>
         <span>
         	Publish posts, images, videos, and more to the major <br />
         	social networks with just a single click. Then gather <br />
         	all the comments and feedback in one place
	      </span> 

          <a href="javascript:void(0)" onclick="open_form('Candidate')"
         class="bigRedLinkBlock"><font>CANDIDATE SIGN UP</font><br />
         Get notified when we launch!</a>
                  
         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<!--span class="slideDot"></span-->
			</div>
       </li>

       <li class="mainPromo candidateSlide5" style="display: none;">
         <img src="images/slides/candidate/slide6.png" alt="" />

         <h2>PARTICIPATE IN<br />
         THE ARENA!</h2>
         <span>
				Interact with potential voters in virtual town hall meetings,<br />
				challenge your opponents in debates, and meet the press <br />
				at the arena’s press room
	      </span> 

         <a href="javascript:void(0)" onclick="open_form('Candidate')"
         class="bigRedLinkBlock"><font>CANDIDATE SIGN UP</font><br />
         Get notified when we launch!</a>
                  
         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<!--span class="slideDot"></span-->
			</div>
       </li>

       <li class="mainPromo" style="display: none;">
         <img src="images/slides/candidate/slide2.png" alt="" />

         <h2>ACTIVATE YOUR<br />
         KEY SUPPORTERS</h2>
         <span>
				Getting ‘likes’ and followers is not enough. <br />
				Convert them to voters, volunteers, donors, and fundraisers. <br />
				Reach their friends and followers by turning them into online<br />
				ambassadors 
	      </span> 

         <a href="javascript:void(0)" onclick="open_form('Candidate')"
         class="bigRedLinkBlock"><font>CANDIDATE SIGN UP</font><br />
         Get notified when we launch!</a>

         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
				<!--span class="slideDot"></span-->
			</div>
       </li>

       <li class="mainPromo lastSlide" style="display: none;">
         <img src="images/slides/candidate/slide3.png" alt="" />

         <h2>MEASURE &amp; IMPROVE<br />
         YOUR ENGAGEMENT</h2>
         <span>
				Improve your messaging by learning what works best across <br />
				the social web. Gain insights on your supporters and their activities, <br />
				and on potential voters and the issues they care about
	      </span> 

         <a href="javascript:void(0)" onclick="open_form('Candidate')"
         class="bigRedLinkBlock"><font>CANDIDATE SIGN UP</font><br />
         Get notified when we launch!</a>
                  
         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
				<!--span class="slideDot"></span-->
			</div>
       </li>

       <!--li class="mainPromo candidateSlide5 lastSlide" style="display: none;">
         <img src="images/slides/candidate/slide6.png" alt="" />

         <h2>PARTICIPATE IN<br />
         THE ARENA!</h2><span>Receive and answer questions from the public &amp; from
         journalists<br />
         and challenge your opponents with those hard-hitting questions!<br />
         It&acirc;&euro;&trade;s like an ongoing townhall meeting, press conference,
         and<br />
         debate - all in one!</span> 
         
         <!--a href="/users/details?user_type=candidate"
         class="bigRedLinkBlock"><font>CANDIDATE SIGN UP</font><br />
         Get notified when we launch!</a-->

          <!--a href="javascript:void(0)" onclick="open_form('Candidate')"
         class="bigRedLinkBlock"><font>CANDIDATE SIGN UP</font><br />
         Get notified when we launch!</a>
                  
         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
			</div>
       </li-->
     </ul>

     <ul id="slider2" class="dispYes">
       <li class="mainPromo currentSlide firstSlide1">
         <img src="images/slides/voters/slide1.png" alt="" />

         <h2>CONNECTING VOTERS <br />
         	 &amp; CANDIDATES</h2>
         
         <span>
		      ElectionArena connects potential voters and candidates, <br />
		      making the democratic process more engaging, seamless, <br />
		      and fun! 
	      </span> 

         <a href="javascript:void(0)" onclick="open_form('Voter')"
         class="bigRedLinkBlock"><font>VOTER SIGN UP</font><br />
         Get notified when we launch!</a>

         <div class="slideDots">
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
			</div>
       </li>

       <li class="mainPromo" style="display: none;">
         <img src="images/slides/voters/slide2.png" alt="" />

         <h2>ALL THE INFO ON<br />
         RELEVANT ELECTIONS</h2>
         
         <span>
         	Simply enter your ZIP code and find everything you need <br />
         	to know about elections that are relevant to you. Learn about <br />
         	the candidates on Federal, State, and Local levels, compare their <br />
         	positions on various issues, receive updates, and much more

	      </span> 
         
         <a href="javascript:void(0)" onclick="open_form('Voter')"
         class="bigRedLinkBlock"><font>VOTER SIGN UP</font><br />
         Get notified when we launch!</a>

         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
			</div>
       </li>

       <li class="mainPromo candidateSlide5" style="display: none;">
         <img src="images/slides/candidate/slide6.png" alt="" />

         <h2>PARTICIPATE IN<br />
         THE ARENA</h2>
         
         <span>
				Participate in virtual town hall meetings, view how candidates <br />
				fight it out on virtual debates, and visit the press room to see <br />
				journalists' questions and the candidates’ responses. 
				
				<!--Ask questions,rate <br />
				responses, view and comment on various discussions, and more-->
	      </span> 
         
         <a href="javascript:void(0)" onclick="open_form('Voter')"
         class="bigRedLinkBlock"><font>VOTER SIGN UP</font><br />
         Get notified when we launch!</a>

         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
			</div>
       </li>

       <li class="mainPromo" style="display: none;">
         <img src="images/slides/voters/slide3.png" alt="" />

         <h2>SUPPORT A </br>CANDIDATE</h2>
         
         <span>
				Want to support a candidate? Share your support everywhere, </br>
				donate, raise funds, volunteer, and get your friends involved. </br>
				You can even organize fundraisers and events
	      </span> 
         
         <a href="javascript:void(0)" onclick="open_form('Voter')"
         class="bigRedLinkBlock"><font>VOTER SIGN UP</font><br />
         Get notified when we launch!</a>

         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
				<span class="slideDot"></span>
			</div>
       </li>
       </li>

       <li class="mainPromo lastSlide1" style="display: none;">
         <img src="images/slides/voters/slide5.png" alt="" />

         <h2>GAIN <br />RECOGNITION</h2>
         
         <span>
		      Gain rewards and badges for your participation. <br />
		      The more you participate, the more you are likely to be <br />
		      noticed by the  candidates and the community
	      </span>
         
         <a href="javascript:void(0)" onclick="open_form('Voter')"
         class="bigRedLinkBlock"><font>VOTER SIGN UP</font><br />
         Get notified when we launch!</a>

         <div class="slideDots">
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDot"></span>
				<span class="slideDotAct"></span>
			</div>
       </li>
     </ul>

     <ul id="slider3" class="dispNone">
       <li class="mainPromo currentSlide firstSlide2 candidateSlide5">
         <img src="images/slides/journalists/slide1.png" alt="" />

         <h2>BE THE<br />
         WATCHDOG</h2>
         
         <span>
         	ElectionArena helps you cover elections, interact with <br />
         	candidates, and share your content with the relevant <br />
         	audience
			</span> 
         
         <a href="javascript:void(0)" onclick="open_form('Journalist')"
         class="bigRedLinkBlock"><font>JOURNALIST SIGN UP</font><br />
         Get notified when we launch!</a>
         
         <div class="slideDots">
         	<span class="slideDotAct"></span>
         	<span class="slideDot"></span>
      	</div>
       </li>
       
       <li class="mainPromo candidateSlide5 lastSlide2" style="display: none;">
         <img src="images/slides/candidate/slide6.png" alt="" />

             <h2>PARTICIPATE IN </br>THE ARENA</h2>

             <span>
             	Ask those questions the public needs to know about, </br>
             	and publish your articles on the arenas you cover
             </span>

         <a href="javascript:void(0)" onclick="open_form('Journalist')"
         class="bigRedLinkBlock"><font>JOURNALIST SIGN UP</font><br />
         Get notified when we launch!</a>
         
          <div class="slideDots">
          	<span class="slideDot"></span>
          	<span class="slideDotAct"></span>
       	</div>
    	</li>
     </ul>
     
     <a id="prevBtn1" href="javascript://" name="prevBtn1"></a> 
     <a id="nextBtn1" href="javascript://" name="nextBtn1"></a>

     <ul id="tsControls">
       <li id="tsControls1"><a href="javascript://"></a></li>

       <li id="tsControls2"><a class="current" href="javascript://"></a></li>

       <li id="tsControls3"><a href="javascript://"></a></li>
     </ul>
   </div>
 </div>
</div>

<!--a href="javascript:void(0)" 
	onclick="document.getElementById	('light').style.display='block';document.getElementById('fade').style.display='block'">here
</a-->

<div id="light" class="white_content">

    <div class="rightBlock">
      <h2 class="darkHeader">Please fill your name & email</h2>
      <div class="loginBlockIn1">

        <%= form_for(@user, :url => {:action => 'create'}) do |f| %>
          <%= f.hidden_field(:kind, :value => @user.kind) %>
          <%= f.text_field(:first_name) %>
          <div class="clear"></div>
          <%= f.text_field(:last_name) %>
          <div class="clear"></div>
          <%= f.text_field(:email) %>
          <span style="margin: 0;">Note: Email will not be publicly displayed and never shared</span>

          <div class="clear"></div>
          </br>
          <%= f.check_box(:accept_terms, :class => "lbiCheck") %>
          <!--input type="checkbox" class="lbiCheck" checked /-->
          <span class="spt1">
          I agree to the <a href="/users/terms">Terms &amp; Conditions</a> and the <a href="/users/policy">Privacy Policy</a></span>

          <div class="clear"></div>
          </br>				

          <%= submit_tag("Submit", :class => "loginLink") %>

          <div class="clear"></div>
			 </br>				

          <%= error_messages_for(@user) %>

        <% end %>
      </div>
    </div>

	<div class="loginBlockIn1" style="text-align:center">

		<a href="javascript:void(0)"
			onclick="document.getElementById('light').style.display='none';
						document.getElementById('fade').style.display='none'">Close Window
		</a>
	</div>
</div>

<div id="fade" class="black_overlay"></div>

<script type="text/javascript">
	<% if @user && @user.errors.size > 0 %>
		open_form('<%= @user.kind %>');
	<%	session[:user] = nil %>
	<% end %>
</script>
	
